{% extends "website/base.html" %}
{% load static %}
{% block content %}
<div class="row mt-4">
   <h1 class="about-title ml-3">About us:</h1> 
</div>
<div class="row">
    <div class="col-md-4 flip-card-outer mb-3 mt-4">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img class="p-2" src="https://res.cloudinary.com/dfm2di4ln/image/upload/v1737412878/tarot-card-1_llyjjh_c_crop_w_1025_h_1750_pkkiml.png"
                        alt="Avatar" style="height:400px;">
                </div>
                <div class="flip-card-back p-2">
                
                    <h2>Who are we?</h2>
                    <p>Hello! We are a small online spell blog community run by two sisters, Sabrina and Beatrix.</p>
                    <p>We were raised to live by the seasons and have incorporated this into our practice for many years now.</p>
                    <p>Together we created The Witches Society.</p>
                
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 flip-card-outer mb-3 mt-4">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img class="p-2" src="https://res.cloudinary.com/dfm2di4ln/image/upload/v1737412880/tarot-card-2_ehfk6c_c_crop_w_1025_h_1750_zicfju.png"
                        alt="Avatar" style="height:400px;">
                </div>
                <div class="flip-card-back p-2">
                    <h2>What is it?</h2>
                    <p>We believe in collaboration between witches worldwide!</p>
                    <p>We wanted to create an online community for witches all over the world where we can share our spells and knowledge with each other.</p>
                    <p>Think of it as a collaborative Grimoire!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 flip-card-outer mb-3 mt-4">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img class="p-2" src="https://res.cloudinary.com/dfm2di4ln/image/upload/v1737412881/tarot-card-3_dywsry_c_crop_w_1025_h_1750_x00q5r.png"
                        alt="Avatar" style="height:400px;">
                </div>
                <div class="flip-card-back p-2">
                    <h2>How do I use it?</h2>
                    <p>Anyone can read the spell blog page, we want spell knowledge to be freely available to all!</p>
                    <p>To sumbit a new spell post to our blog all you need to do is head to the 'Submit a spell' area at the top right of the page.</p>
                    <p>We can't wait to read all of your amazing submissions!</p>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock content%}