{% extends "website/base.html" %}
{% load static %}
{% block content %}
<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <img aria-label="ouija board flatlay" load="lazy" alt="ouija board flatlay"
      src="https://res.cloudinary.com/dfm2di4ln/image/upload/v1737654219/Screenshot_2025-01-23_at_12.09.08_1_1_-min_otur8y.jpg"
      style="width: 100%; height:80vh;">
  </div>

  <div class="mySlides fade">
    <img aria-label="rune flatlay" load="lazy" alt="rune flatlay"
      src="https://res.cloudinary.com/dfm2di4ln/image/upload/v1737654221/Screenshot_2025-01-23_at_12.09.26_1_1_-min_vggohc.jpg"
      style="width: 100%; height:80vh;">
  </div>

  <div class="mySlides fade">
    <img aria-label="salt circle flatlay" load="lazy" alt="witchy candle and salt circle flatlay"
      src="https://res.cloudinary.com/dfm2di4ln/image/upload/v1737654218/Screenshot_2025-01-23_at_12.08.39_1_1_-min_kquoim.jpg"
      style="width: 100%; height:80vh;">
  </div>
  <!--Welcome text-->
  <div class="col-8 welcome-text">
    <h2>
      Welcome to The Witches Society
    </h2>
    <p class="d-none d-sm-block">
      The collaborative Grimoire of spells and all things witchy
    </p>
    <p class="d-none d-sm-none d-md-block">
      Click <a href="{% url 'website-blog' %}" aria-label="link to blog page.">here to browse our spell blog</a>
    </p>
  </div>
</div>


{% endblock content %}
{% block scripts %}
<!-- JS FOR SLIDESHOW -->
<script src="{% static 'js/home.js' %}"></script>
{% endblock scripts %}