{% extends "website/base.html" %}
{% load static %}
{% block content %}
<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <img src="https://res.cloudinary.com/dfm2di4ln/image/upload/v1737371092/hero-image-1_zvcwfb.jpg" style="width: 100%; height:80vh;">
  </div>

  <div class="mySlides fade">
    <img src="https://res.cloudinary.com/dfm2di4ln/image/upload/v1737371204/hero-image-2_wvv1q3.jpg" style="width: 100%; height:80vh;">
  </div>

  <div class="mySlides fade">
    <img src="https://res.cloudinary.com/dfm2di4ln/image/upload/v1737371206/hero-image-3_tsklur.jpg" style="width: 100%; height:80vh;">
  </div>
  <!--Welcome text-->
  <div class="col-8 welcome-text">
    <h2>
        Welcome to The Witches Society
    </h2>
    <p class="d-none d-sm-block">
        The collaborative Grimoire of spells and all things witchy
    </p>
    <p class="d-none d-sm-none d-md-block">
        Click <a href="{% url 'website-blog' %}" aria-label="link to blog page."><span>here</span></a>
        to browse our spell blog
    </p>
</div>

</div>


{% endblock content %}
{% block scripts %}
<!-- JS FOR SLIDESHOW -->
<script src="{% static 'js/home.js' %}"></script>
{% endblock scripts %}