{% extends "website/base.html" %}
{% load static %}
{% block content %}
<article class="media content-section mt-3 rounded">
<div class="row p-5">
  
    <div class="col-lg-3 text-center">

      <div>
        {% if "default" in post.author.profile.image.url %}
        <!-- PROFILE IMAGE (default img is displayed if user does not upload their own) -->
        <img class="rounded-circle account-img"
          src="https://res.cloudinary.com/dfm2di4ln/image/upload/v1737237533/default-profile_bhs5bd.jpg"
          alt="profile picture">
        {% else %}
        <img class="rounded-circle account-img" src="{{ post.author.profile.image.url }}" alt="profile picture">
        {% endif %}
        <div class="article-metadata mt-1 mb-4">
          <p class="mb-0 post-author-text">by: <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a></p>
          <small class="text-muted">{{ object.date_posted|date:"N d, Y" }}</small>
        </div>
      </div>
    </div>

    <div class="col-lg-9">

      <div class="media-body">
        <div class="image-container rounded">
          {% if "placeholder" in post.featured_image.url %}
          <img class="card-img-top blog-post-image" style="height: 60vh; width: 100%;"
            src="https://res.cloudinary.com/dfm2di4ln/image/upload/v1737287397/placeholder_rrvyx8.jpg"
            alt="placeholder image">
          {% else %}
          <img class="card-img-top blog-post-image" style="height: 60vh; width: 100%;"
            src="{{ post.featured_image.url }}" alt="{{ post.title }}">
          {% endif %}
        </div>
        <div>
          <h2 class="article-title mt-4 font-weight-bold">{{ object.title }}:</h2>
          <p class="article-content">{{ object.content }}</p>
        </div>
        <br>
        {% if object.author == user %}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Edit</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
        </div>
        {% endif %}
      </div>

    </div>

  

</div>
</article>
{% endblock content%}