body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    min-height: 100vh;
  }

#navigation {
  background-color: rgb(153, 62, 80);
}
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  /* ABOUT PAGE */

  .about-title {
    font-size: 1.6rem;
  }
  /* Flip card styling */
.flip-card {
  background-color: transparent;
  width: inherit;
  height: 400px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: inherit;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: inherit;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /* background-color: #bbb; */
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(146, 61, 67);
  color: white;
  transform: rotateY(180deg);
  height: 100%;
  align-content: space-around;
  padding: 5px;
}

/* -------- FOOTER -------- */
footer {
  margin-top: auto;
}

#footer-container {
  background-color: rgb(153, 62, 80);
  color: #fff;
  max-width: 100%;
  margin-top: 30px;
}

#footer-container-secondary {
  padding-bottom: 0!important;
  max-width: 75%;
}

#footer-container-last {
  align-items: center;
  margin-bottom: 0!important;
}

.footer-link-heading {
  font-size: 1.2rem;
}

#social-icons li {
  font-size: 2rem;
  color: #fafafa;
}

#social-icons li a {
  color: #fafafa;
}

#social-icons li a:hover {
  color: #aaaaaa;
}