{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-md-8 mt-4 ml-auto mr-auto content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset clas="form-group">
                <legend class="border-bottom mb-4">Join the Coven:</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-dark" type="submit">Join the Coven</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already a member? <a class="ml-2" href="{% url 'login' %}">Sign in here</a>
            </small>
        </div>
    </div>
</div>
{% endblock content %}